html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  height: screen;
  overflow-y: hidden;
  overflow-x: hidden;
}

main{
  margin: 0 auto;
  max-width: 105ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.hero{
  background-image: url(../../public/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
}


h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

html.dark {
  background-color: #1c1c1f;
  color: #fff;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #4c1d95;
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  width: 6%;
  margin-right: 2%;
  text-align: right;
  font-size: 25px;
}

.dark .nav-links a {
  color: #fff;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}