---
---
<nav class="nav-links">
<a href="/">Inicio</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<a href="/tags/">Etiquetas</a>
<input type="search" placeholder="buscar.." class="rounded bg-transparent">
</nav>

<style>
    
.nav-links {
  width: 100%;
  overflow: hidden;
}

.nav-links a {
  width: 6%;
  margin-right: 2%;
  text-align: right;
  font-size: 25px;
}

.nav-links a:hover {
  color: pink;
}

.nav-links input[type=search] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  border-bottom: 2px solid pink;
  margin-right: 12px;
  font-size: 25px;
}

</style>